<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Books</title>
    <link rel="stylesheet" href="/styles/basicStyles.css" />
  </head>
  <body>
    <main>
      <h2>All Books</h2>
      <table>
        <thead>
          <tr>
            <th>Book ID</th>
            <th>Book Name</th>
            <th>Book Author</th>
            <th>Book Type</th>
            <th>Book Topic</th>
          </tr>
        </thead>
        <tbody>
          <% result.forEach(book => { %>
          <tr>
            <td><%= book.bookID %></td>
            <td><%= book.name %></td>
            <td><%= book.author %></td>
            <td><%= book.type %></td>
            <td><%= book.topic %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <a href="/"><button>Menu</button></a>
    </main>
  </body>
</html>

