<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Query result</title>
    <link rel="stylesheet" href="/styles/basicStyles.css" />
  </head>
  <body>
    <main>
      <h1>Book Data</h1>
      <p><span class="legend">Book id:</span><span><%= result.bookID %></span></p>
      <p>Name: <%= result.name %></p>
      <p>Author is <%= result.author %></p>
      <p>Type: <%= result.type %></p>
      <p>Topic: <%= result.topic %></p>
      <a href="/"><button>Menu</button></a>
    </main>
  </body>
</html>
